<header data-elementor-type="header" data-elementor-id="7232" class="elementor elementor-7232 elementor-location-header" data-elementor-post-type="elementor_library">
			<div class="elementor-element elementor-element-4d8271c8 e-con-full e-flex e-con e-parent" data-id="4d8271c8" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-141040c2 e-con-full e-flex e-con e-child" data-id="141040c2" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
				<div class="elementor-element elementor-element-7e6deec8 elementor-widget elementor-widget-image" data-id="7e6deec8" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
																<a href="/">
							<img width="120" height="52" src="/marketing/assets/uploads/2024/12/patientli-logo-dark-3.svg" class="attachment-large size-large wp-image-312" alt="patient.li logo in dark" />								</a>
															</div>
				</div>
				<div class="elementor-element elementor-element-2677360 toggle-icon--basket-medium elementor-menu-cart--empty-indicator-hide elementor-menu-cart--items-indicator-bubble elementor-menu-cart--cart-type-side-cart elementor-menu-cart--show-remove-button-yes elementor-widget elementor-widget-woocommerce-menu-cart" data-id="2677360" data-element_type="widget" data-settings="{&quot;cart_type&quot;:&quot;side-cart&quot;,&quot;open_cart&quot;:&quot;click&quot;,&quot;automatically_open_cart&quot;:&quot;no&quot;}" data-widget_type="woocommerce-menu-cart.default">
				<div class="elementor-widget-container">
							<div class="elementor-menu-cart__wrapper">
							<div class="elementor-menu-cart__toggle_wrapper">
					<div class="elementor-menu-cart__container elementor-lightbox" aria-hidden="true">
						<div class="elementor-menu-cart__main" aria-hidden="true">
									<div class="elementor-menu-cart__close-button">
					</div>
									<div class="widget_shopping_cart_content">
															</div>
						</div>
					</div>
							<div class="elementor-menu-cart__toggle elementor-button-wrapper">
			<a id="elementor-menu-cart__toggle_button" href="#" class="elementor-menu-cart__toggle_button elementor-button elementor-size-sm" aria-expanded="false">
				<span class="elementor-button-text"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>0.00</bdi></span></span>
				<span class="elementor-button-icon">
					<span class="elementor-button-icon-qty" data-counter="0">0</span>
					<svg class="e-font-icon-svg e-eicon-basket-medium" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg"><path d="M104 365C104 365 105 365 105 365H208L279 168C288 137 320 115 355 115H646C681 115 713 137 723 170L793 365H896C896 365 897 365 897 365H958C975 365 990 379 990 396S975 427 958 427H923L862 801C848 851 803 885 752 885H249C198 885 152 851 138 798L78 427H42C25 427 10 413 10 396S25 365 42 365H104ZM141 427L199 785C205 807 225 823 249 823H752C775 823 796 807 801 788L860 427H141ZM726 365L663 189C660 182 654 177 645 177H355C346 177 340 182 338 187L274 365H726ZM469 521C469 504 483 490 500 490S531 504 531 521V729C531 746 517 760 500 760S469 746 469 729V521ZM677 734C674 751 658 762 641 760 624 758 613 742 615 725L644 519C647 502 663 490 680 492S708 510 706 527L677 734ZM385 725C388 742 375 757 358 760 341 762 325 750 323 733L293 527C291 510 303 494 320 492 337 489 353 501 355 518L385 725Z"></path></svg>					<span class="elementor-screen-only">Cart</span>
				</span>
			</a>
		</div>
						</div>
					</div> <!-- close elementor-menu-cart__wrapper -->
						</div>
				</div>
				</div>
				</div>
				</header>