<header data-elementor-type="header" data-elementor-id="7232" class="elementor elementor-7232 elementor-location-header" data-elementor-post-type="elementor_library">
			<div class="elementor-element elementor-element-4d8271c8 e-con-full e-flex e-con e-parent" data-id="4d8271c8" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-141040c2 e-con-full e-flex e-con e-child" data-id="141040c2" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
				<div class="elementor-element elementor-element-7e6deec8 elementor-widget elementor-widget-image" data-id="7e6deec8" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
																<a href="/">
							<img width="120" height="52" src="/marketing/assets/uploads/2024/12/patientli-logo-dark-3.svg" class="attachment-large size-large wp-image-312" alt="patient.li logo in dark" />								</a>
															</div>
				</div>
				</div>
				</div>
				</header>